@page
@model BlazorBoard.Areas.Identity.Pages.Account.Manage.CandidatesNamesModel
@{
}

<h3>show blazor component in ASP.NET Core MVC OR Razor Pages</h3>
<component 
    type="typeof(BlazorBoard.Pages.Candidates.CandidatesNames.Manage)"
    render-mode="ServerPrerendered"

/>